@import "config";

.container {
    max-width: $website-width;
    padding: 0 1.5rem;
    overflow: hidden;
    margin: auto;
}

// Buttons

%btn-shared {
    display: inline-block;
    padding: 0.8rem 2rem;
    transition: 0.5s;
    border: none;
    cursor: pointer;
}

.btn {
    &-main {
        @extend %btn-shared;
        color: $dark-color;
        background-color: $main-color;
    }
    &-light {
        @extend %btn-shared;
        color: $dark-color;
        background-color: $light-color;
    }
    &-dark {
        @extend %btn-shared;
        color: $dark-color;
        background-color: $dark-color;
    }
}

button[class^='btn-']:hover, // any btn- with class this will effect for
a[class^='btn-']:hover,
input[class^='btn-']:hover {
    background-color: $main-color;
}

.lead {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.text-center {
    text-align: center;
}

// Padding
.py {
    &-1 {
        padding: 1rem 0rem;
    }
    &-2 {
        padding: 2rem 0rem;
    }
    &-3 {
        padding: 3rem 0rem;
    }
    &-4 {
        padding: 4rem 0rem;
    }
}

// Margin
.my {
    &-1 {
        margin: 1rem 0rem;
    }
    &-2 {
        margin: 2rem 0rem;
    }
    &-3 {
        margin: 3rem 0rem;
    }
    &-4 {
        margin: 4rem 0rem;
    }
}

.section-title {
    font-size: 2rem;
    display: block;
    padding-bottom: .5rem;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
}

// Bottom Line 

.bottom-line {
    height: 2px;
    width: 3rem;
    background: $main-color;
    display: block;
    margin: 0 auto 1rem auto;
}

// Clear 

